<div class="subjects" *ngIf="subjects">
  <label>Choose subject:</label>
  <select class="custom-select custom-select-lg mb-3" [(ngModel)]="currentSubject">
    <option *ngFor="let subject of subjects" [ngValue]="subject">{{ subject.name }}</option>
  </select>
  <div class="card" *ngIf="currentSubject">
    <div class="card-body">
      <h5 class="card-title">{{ currentSubject.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Subject information</h6>
      <p class="card-text">{{ currentSubject.description }}</p>
    </div>
  </div>
</div>
