body {
    margin: 0;
}
app-menu {
    position: fixed;
    width: 240px;
    height: 100%;
    border-right: 1px solid black;
}
.container {
        margin-left: 240px;
        padding: 40px;
        width: calc(100% - 240px);
}
@media screen and (max-width: 768px) {
    .container {
        margin-left: 80px;
        padding: 20px !important;
        width: calc(100% - 80px) !important;
    }
    app-menu {
        width: 80px;
    }
}