<div class="school" *ngIf="auth.isLogged else login">
  <app-menu></app-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #login>
  <app-login></app-login>
</ng-template>
