<div class="container mt-4">
  <form class="col-lg-6">
    <div class="form-group">
      <h2>Add new student</h2>
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label for="exampleFormControlInput1">Name</label>
            <input type="text" class="form-control" [(ngModel)]="student.name" name="studentName">
          </div>
          <div class="col">
            <label for="exampleFormControlInput1">Last name</label>
            <input type="text" class="form-control" [(ngModel)]="student.lastName" name="lastName">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label for="exampleFormControlInput1">Day of birth</label>
            <input type="number" class="form-control" [(ngModel)]="student.birthDate" name="birthDate" placeholder="ddmmyyyy">
          </div>
          <div class="col">
            <label for="exampleFormControlInput1">Place of birth</label>
            <input type="text" class="form-control" [(ngModel)]="student.birthPlace" name="birthPlace">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Sex</label>
        <select [(ngModel)]="student.sexId" name="sexId">
          <option *ngFor="let s of sex" [ngValue]="s.id">{{ s.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label for="exampleFormControlInput1">Street</label>
            <input type="text" class="form-control" [(ngModel)]="address.street" name="street">
          </div>
          <div class="col">
            <label for="exampleFormControlInput1">House number</label>
            <input type="text" class="form-control" [(ngModel)]="address.houseNumber" name="houseNumber">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label for="exampleFormControlInput1">ZIP code</label>
            <input type="text" class="form-control" [(ngModel)]="address.country.code" name="code">
          </div>
          <div class="col">
            <label for="exampleFormControlInput1">City name</label>
            <select [(ngModel)]="address.city" name="cityName">
              <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Country</label>
        <select [(ngModel)]="address.country" name="countryName" (change)="getCitiesByCountry(address.country.countryId)">
          <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="saveStudent(student)">Submit</button>
  </form>
</div>