<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="add-student" routerLinkActive="active">New student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="add-teacher" routerLinkActive="active">New teacher</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="add-class" routerLinkActive="active">New class</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="add-address" routerLinkActive="active">New address</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="add-account" routerLinkActive="active">Add account</a>
  </li>
</ul>
<router-outlet></router-outlet>