<div class="frequency">
  <div class="frequency__students" *ngIf="students">
    <select class="custom-select custom-select-lg mb-3" [(ngModel)]="currentStudent" name="currentStudent" (change)="getAttendences(currentStudent.studentId)">
      <option *ngFor="let student of students" [ngValue]="student">{{ student.name + ' ' + student.lastName }}</option>
    </select>
  </div>
  <div class="frequency__attendences" *ngIf="attendences?.length > 0 else empty">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">Presence</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attendence of attendences">
          <th scope="row">{{ attendence.date }}</th>
          <td>{{ attendence.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>No data</ng-template>
</div>
