<div class="container mt-4">
    <form class="col-lg-6">
        <div class="form-group">
            <h2>Add new class</h2>
            <div class="form-group" *ngIf="classProfiles?.length > 0 else empty">
                <div class="form-row">
                    <div class="col">
                        <label for="exampleFormControlInput1">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="schoolClass.name" name="name">
                        <label for="exampleFormControlInput1">Type</label>
                        <select class="form-control" [(ngModel)]="schoolClass.classProfileId" name="classProfileId" (change)="setCurrent(id)">
                            <option *ngFor="let class of classProfiles" [ngValue]="class.id" >{{ class.name }}</option>
                        </select>
                        <span>{{ classProfiles[schoolClass.classProfileId-1].description }}</span>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="saveClass(schoolClass)">Submit</button>
    </form>
    <form class="col-lg-6">
        <div class="form-group">
            <h2>Create class profile</h2>
            <div class="form-group" *ngIf="classProfiles?.length > 0 else empty">
                <div class="form-row">
                    <div class="col">
                        <label for="exampleFormControlInput1">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="schoolProfile.name" name="name">
                        <label for="exampleFormControlInput1">Description</label>
                        <input type="text" class="form-control" [(ngModel)]="schoolProfile.description" name="name">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="saveProfile(schoolProfile)">Submit</button>
    </form>
</div>
