ul {
    padding: 10vh 0;
    li {
        position: relative;
        text-align: center;
        border-radius: 0;
        outline: none;
        cursor: pointer;
        i {
            position: absolute;
            top: 16px;
            left: 16px;
            &.fa-info {
                left: 21px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    ul {
        padding: 0;
    }
    li {
        height: 12.6vh;
        i {
            top: 50% !important;
            transform: translateY(-50%);
            left: 0 !important;
            right: 0;
            font-size: 30px;
        }
        span {
            display: none;
        }
    }
}