<ul class="list-group">
  <li class="list-group-item list-group-item-action" routerLink="timetable" routerLinkActive="active"><i class="fa fa-calendar" aria-hidden="true"></i>
  <span>Timetable</span></li>
  <li class="list-group-item list-group-item-action" routerLink="subjects" routerLinkActive="active"><i class="fa fa-book" aria-hidden="true"></i>
  <span>Subjects</span></li>
  <li class="list-group-item list-group-item-action" routerLink="frequency" routerLinkActive="active"><i class="fa fa-clock-o" aria-hidden="true"></i>
  <span>Frequency</span></li>
  <li class="list-group-item list-group-item-action" routerLink="notifications" routerLinkActive="active"><i class="fa fa-commenting-o" aria-hidden="true"></i>
  <span>Notifications</span></li>
  <li class="list-group-item list-group-item-action" routerLink="classes-information" routerLinkActive="active"><i class="fa fa-info" aria-hidden="true"></i>
  <span>Classes information</span></li>
  <li class="list-group-item list-group-item-action" routerLink="teachers-information" routerLinkActive="active"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
  <span>Teachers information</span></li>
  <li class="list-group-item list-group-item-action" *ngIf="auth.userRole === 'ROLE_ADMIN'" routerLink="admin-panel" routerLinkActive="active"><i class="fa fa-lock" aria-hidden="true"></i>
  <span>Admin Panel</span></li>
  <li class="list-group-item list-group-item-action" (click)="logout()"><i class="fa fa-sign-out"></i>
  <span>Logout</span></li>
</ul>