<div class="container mt-4">
    <form class="col-lg-6">
        <div class="form-group">
            <h2>Add new address</h2>
            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label for="exampleFormControlInput1">Country</label>
                        <select class="form-control" [(ngModel)]="address.country" name="classProfileId" (change)="setCountryId(address.country.countryId)">
                            <option *ngFor="let c of countries" [ngValue]="c" >{{ c.name }}</option>
                        </select>
                        <label for="exampleFormControlInput1">City</label>
                        <input type="text" class="form-control" [(ngModel)]="address.city.name" name="cityName">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="exampleFormControlInput1">Street</label>
                        <input type="text" class="form-control" [(ngModel)]="address.street" name="street">
                        <label for="exampleFormControlInput1">House Number</label>
                        <input type="text" class="form-control" [(ngModel)]="address.houseNumber" name="street">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="saveAddress(address)">Submit</button>
    </form>
</div>
