<div class="container mt-5">
  <form class="col-lg-12" (submit)="login(user)">
    <div class="form-group">
      <div>
        <h1 class="text-center">Welcome to School App <i class="fa fa-book"></i></h1>
      </div>
      <h2>Log in</h2>
        <div class="form-row">
          <div class="col">
            <label for="exampleFormControlInput1">username</label>
            <input type="text" class="form-control" [(ngModel)]="user.username" name="username">
          </div>
          <div class="col">
            <label for="exampleFormControlInput1">password</label>
            <input type="password" class="form-control" [(ngModel)]="user.password" name="password">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>