<div class="container mt-4">
  <form class="col-lg-6">
    <div class="form-group">
      <h2>Create account</h2>
      <div class="form-group">
        <div class="form-row">
          <label for="exampleFormControlInput1">Username</label>
          <input type="text" class="form-control" [(ngModel)]="newAccount.username" name="studentName">
        </div>
        <div class="form-row">
          <label for="exampleFormControlInput1">E-mail (example@admin/teacher/parent/student.xx )</label>
          <input type="text" class="form-control" [(ngModel)]="newAccount.email" name="lastName" placeholder="email@admin.com">
        </div>
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <label for="exampleFormControlInput1">Password</label>
            <input type="password" class="form-control" [(ngModel)]="newAccount.password" name="birthDate">
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="createAccount(newAccount)">Submit</button>
  </form>
</div>