<div class="notifications" *ngIf="notifications?.length > 0 else empty">
  <div class="card mb-3" *ngFor="let notification of notifications">
    <div class="card-body">
      <h5 class="card-title">{{ notification.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ notification.date }}</h6>
      <p class="card-text">{{ notification.content }}</p>
    </div>
  </div>
</div>
<ng-template #empty><h2 class="text-center">No notifications here</h2></ng-template>