<div class="teachers">
  <h1>Teachers</h1>
  <select class="custom-select custom-select-lg mb-3" [(ngModel)]="currentTeacher" name="currentTeacher">
    <option *ngFor="let teacher of teachers" [ngValue]="teacher">{{ teacher.name + ' ' + teacher.lastname }}</option>
  </select>
  <div class="teachers__current" *ngIf="currentTeacher">
    <p>Imię: {{ currentTeacher.name }}</p>
    <p>Nazwisko: {{ currentTeacher.lastname }}</p>
    <p>Pokój: {{ currentTeacher.classroomNumber }}</p>
  </div>
</div>
