<h1 class="text-center">Our classes 2017/2018 school calendar</h1>
<table class="table table-striped mt-4" *ngIf="classes?.length > 0 else empty">
  <thead>
    <tr>
      <th scope="col">Nr</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let class of classes">
      <td scope="row">{{ class.id }}</td>
      <td scope="row">{{ class.name }}</td>
      <td scope="row">{{ class.description }}</td>
    </tr>
  </tbody>
</table>