<div class="timetable" *ngIf="classes">
  <label>Choose your class:</label>
  <select class="custom-select custom-select-lg mb-3" [(ngModel)]="currentClass" name="currentClass" (change)="getPlan(currentClass)">
    <option *ngFor="let class of classes" [ngValue]="class.id">{{ class.name }}</option>
  </select>
  <h1 class="text-center">{{ classes[currentClass-1].name + ' class'}}</h1>
  <div class="timetable" *ngIf="timeTable.length != 0 else empty">
    <ul class="list-group times">
      <div>
        <li class="list-group-item time" *ngFor="let time of times">
          <span>{{ time }}</span>
        </li>
      </div>
    </ul>
    <ul class="list-group days" *ngFor="let day of timeTable">
      <li class="list-group-item active day">{{ day.day}} </li>
      <div class="lessons" *ngFor="let lesson of day.lessons">
        <li class="list-group-item lesson">
          <span class="subject">{{ lesson.subjectName}}</span>
          <span class="school-class">{{ lesson.classNumber }}</span>
        </li>
      </div>
    </ul>
  </div>
  <ng-template #empty><div class="text-center">No plan for this class</div></ng-template>
</div>