.timetable {
    ul {
        float: left;
        margin: 1px;
        width: calc(87% / 5);
        text-align: center;
        &.times {
            margin-top: 50px;
            width: 11%;
            li {
                margin: 0;
                padding: 22px 0px;
            }
        }
        li {
            height: 70px;
            &.day {
                height: 50px !important;
            }
            .school-class {
                float: right;
            }
        }
    }
}